# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
dvc
numpy
scipy
matplotlib
python-dotenv>=0.5.1
h5py
scikit-learn
scikit-image
dropblock
pytorch
torchvision
pytorch-lightning
pytorch-lightning-bolts

# backwards compatibility
pathlib2

