# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
dvc
numpy
scipy
matplotlib
python-dotenv>=0.5.1
h5py
loguru
scikit-learn
scikit-image
pyabel
dropblock
pytorch-lightning
pytorch-lightning-bolts
papermill
peakutils
nbconvert

# backwards compatibility
pathlib2

